<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header">Intro</h5>
          <div class="card-body">
            <p class="card-text"><a href="<%=gossip_index_path%>"> Revenir à la liste des potins</a>
          </div>
      </div>
    </div>

    <div class="col-md-8">
      <h1 class="my-4">Editer le potin</h1>
        <div class="card mb-4">
          <div class="card-body">
            <%= form_for @gossip do |f| %>
            <p class="card-title"><div class="form_group">Titre </p><%= f.text_field :title %></div>
            <p class="card-title"><div class="form_group" >Contenu </p><%= f.text_field :content %></div>  
            <br><div class="form-group"><%= f.submit %></div>
              <% end %>
            </div>
      </div>
    </div>
  </div>
</div>