<h1>Gossip List</h1>  
<% @gossips.each do |gossip| %>   
  <h2><%= gossip.title %> </h2> <br>   
  <h5><%= gossip.content %> </h5> <br>   
  <p>     
  <a href="<%= gossip_path(gossip.id) %>" >En savoir plus</a>     
  <a href="<%= edit_gossip_path(gossip.id) %>" class="btn btn-primary">Editer</a>     
  <a href="<%= gossip_path(gossip.id) %>" class="btn btn-danger" data-confirm="Êtes-vous sûr ?" data-method="DELETE">Supprimer</a></p>   
  <p>   <a href="<%= new_gossip_path%>" class="btn btn-success">Créer un potin</a> </p>  
<% end %> 