<h1>New User</h1>

<%= form_for @user, url: {action: "create"} do |f| %>
  First_name:<br>
  <div class="form_group">
    <%= f.text_field :first_name %>
  </div>
  Last_name:
  <div class="form_group">
    <%= f.text_field :last_name %>
  </div>
  Age:
  <div class="form_group">
    <%= f.number_field :age %>
  </div>
  Email:
  <div class="form_group">
    <%= f.text_field :email %>
  </div>
  Password:
  <div class="form_group">
    <%= f.password_field :password %>
  </div>
  <div class="form_group">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', new_session_path %>
